#chatbot-btn {
  right: 2.5rem;
  bottom: 2.5rem;
}

html.ios-device.footer-nav-visible #chatbot-btn,
html.ios-device.footer-nav-ipad #chatbot-btn {
  bottom: 7rem;
}

.topic-list .topic-item-stats {
  z-index: 0;
}

.topic-list .main-link {
  z-index: 0;
}
