plugins:
  chatbot_enabled:
    default: true
    client: true
  chatbot_open_ai_token:
    client: false
    default: ''
  chatbot_permitted_in_private_messages:
    default: true
    client: true
  chatbot_private_message_auto_title:
    client: false
    default: true
  chatbot_permitted_in_chat:
    default: true
    client: true
  chatbot_high_trust_groups:
    client: false
    default: ''
    type: group_list
    list_type: compact
  chatbot_medium_trust_groups:
    client: false
    default: ''
    type: group_list
    list_type: compact
  chatbot_low_trust_groups:
    client: false
    default: ''
    type: group_list
    list_type: compact
  chatbot_bot_type_high_trust:
    default: RAG
    client: false
    type: enum
    choices:
      - basic
      - RAG
  chatbot_open_ai_model_high_trust:
    client: false
    type: enum
    default: gpt-4o-mini
    choices:
      - gpt-4.1
      - gpt-4.1-mini
      - gpt-4.1-nano
      - gpt-4o
      - gpt-4o-mini
      - gpt-4-turbo
      - gpt-5
      - gpt-5-mini
      - gpt-5-nano
      - gpt-5.1
      - o4-mini
      - o3
      - o3-mini
      - o1
      - o1-mini
  chatbot_open_ai_model_custom_high_trust:
    default: false
    client: false
  chatbot_open_ai_model_custom_name_high_trust:
    default: ''
    client: false
  chatbot_open_ai_model_custom_url_high_trust:
    client: false
    default: ''
  chatbot_bot_type_medium_trust:
    default: basic
    client: false
    type: enum
    choices:
      - basic
      - RAG
  chatbot_open_ai_model_medium_trust:
    client: false
    type: enum
    default: gpt-4o-mini
    choices:
      - gpt-4.1
      - gpt-4.1-mini
      - gpt-4.1-nano
      - gpt-4o
      - gpt-4o-mini
      - gpt-4-turbo
      - gpt-5
      - gpt-5-mini
      - gpt-5-nano
      - gpt-5.1
      - o4-mini
      - o3
      - o3-mini
      - o1
      - o1-mini
  chatbot_open_ai_model_custom_medium_trust:
    default: false
    client: false
  chatbot_open_ai_model_custom_name_medium_trust:
    default: ''
    client: false
  chatbot_open_ai_model_custom_url_medium_trust:
    client: false
    default: ''
  chatbot_bot_type_low_trust:
    default: basic
    client: false
    type: enum
    choices:
      - basic
      - RAG
  chatbot_open_ai_model_low_trust:
    client: false
    type: enum
    default: gpt-4o-mini
    choices:
      - gpt-4.1
      - gpt-4.1-mini
      - gpt-4.1-nano
      - gpt-4o
      - gpt-4o-mini
      - gpt-4-turbo
      - gpt-5
      - gpt-5-mini
      - gpt-5-nano
      - gpt-5.1
      - o4-mini
      - o3
      - o3-mini
      - o1
      - o1-mini
  chatbot_open_ai_model_custom_low_trust:
    default: false
    client: false
  chatbot_open_ai_model_custom_name_low_trust:
    default: ''
    client: false
  chatbot_open_ai_model_custom_url_low_trust:
    client: false
    default: ''
  chatbot_open_ai_model_reasoning_level:
    client: false
    type: enum
    default: medium
    choices:
      - none
      - minimal
      - low
      - medium
      - high
  chatbot_open_ai_model_custom_api_type:
    client: false
    default: ''
  chatbot_open_ai_model_custom_api_version:
    client: false
    default: '2023-09-01-preview'
  chatbot_api_supports_name_attribute:
    client: false
    default: false
  chatbot_embeddings_enabled:
    default: false
    client: false
  chatbot_open_ai_embeddings_model:
    client: false
    type: enum
    default: text-embedding-ada-002
    choices:
      - text-embedding-ada-002
      - text-embedding-3-small
  chatbot_embeddings_strategy:
    default: benchmark_user
    client: false
    type: enum
    choices:
      - benchmark_user
      - categories
  chatbot_embeddings_benchmark_user_trust_level:
    client: false
    default: 1
    min: 0
    max: 4
  chatbot_embeddings_categories:
    client: false
    default: ''
    type: category_list
    list_type: "compact"
  chatbot_open_ai_embeddings_char_limit:
    client: false
    default: 11500
  chatbot_open_ai_embeddings_model_custom_url:
    client: false
    default: ''
  chatbot_quick_access_talk_button:
    client: true
    default: chat
    type: enum
    choices:
      - "off"
      - chat
      - personal message
  chatbot_quick_access_bot_kicks_off:
    default: true
    client: true
  chatbot_quick_access_talk_button_bot_icon:
      client: true
      default: robot
  chatbot_quick_access_talk_button_bot_use_avatar:
      client: true
      default: false
  chatbot_quick_access_bot_post_kicks_off:
    default: false
    client: true
  chatbot_include_inner_thoughts_in_private_messages:
    default: false
    client: false
  chatbot_include_inner_thoughts_in_topics:
    default: false
    client: false
  chatbot_include_inner_thoughts_in_topics_as_whisper:
    default: true
    client: false
  chatbot_can_trigger_from_whisper:
    default: false
    client: false
  chatbot_permitted_all_categories:
    default: true
    client: false
  chatbot_permitted_categories:
    client: false
    default: ''
    type: category_list
    list_type: "compact"
  chatbot_auto_respond_categories:
    client: false
    default: ''
    type: category_list
    list_type: "compact"
  chatbot_quota_basis:
    client: false
    default: 'queries'
    type: enum
    choices:
      - 'queries'
      - 'tokens'
  chatbot_quota_high_trust:
    default: 100
    client: false
  chatbot_quota_medium_trust:
    default: 50
    client: false
  chatbot_quota_low_trust:
    default: 10
    client: false
  chatbot_quota_reach_escalation_groups:
    client: false
    type: group_list
    list_type: compact
    default: ""
    allow_any: false
    refresh: true
  chatbot_quota_reach_escalation_cool_down_period:
    client: false
    default: 1
    min: 0
    max: 7
  chatbot_max_look_behind:
    default: 5
    max: 160
    min: 1
    client: false
  chatbot_include_whispers_in_post_history:
    default: false
    client: false
  chatbot_strip_quotes:
    default: true
    client: false
  chatbot_support_vision:
    client: false
    type: enum
    default: turned_off
    choices:
      - turned_off
      - directly
      - via_function
  chatbot_open_ai_vision_model:
    client: false
    type: enum
    default: gpt-4o
    choices:
      - gpt-5.1
      - gpt-5-mini
      - gpt-5-nano
      - gpt-5
      - gpt-4.1
      - gpt-4.1-mini
      - gpt-4.1-nano
      - gpt-4o
      - gpt-4o-mini
      - gpt-4-turbo
      - o4-mini
      - o3
      - o3-mini
      - o1
      - o1-mini
  chatbot_support_pdf:
    client: false
    default: false
  chatbot_support_picture_creation:
    client: false
    default: false
  chatbot_support_picture_creation_model:
    client: false
    type: enum
    default: dall-e-3
    choices:
      - dall-e-3
      - gpt-image-1
  chatbot_reply_job_time_delay:
    client: false
    default: 2
    min: 0
    max: 5
  chatbot_request_temperature:
    client: false
    default: 100
    min: 0
    max: 200
  chatbot_request_top_p:
    client: false
    default: 100
    min: 0
    max: 100
  chatbot_request_frequency_penalty:
    client: false
    default: 0
    min: -200
    max: 200
  chatbot_request_presence_penalty:
    client: false
    default: 0
    min: -200
    max: 200
  chatbot_max_response_tokens:
    client: false
    default: 200
  chatbot_bot_user:
    client: true
    type: username
    default: Chatbot
  chatbot_forum_search_function_max_results:
    client: false
    default: 10
    max: 100
    min: 10
  chatbot_forum_search_function_similarity_threshold:
    client: false
    default: 0.8
    max: 1
    min: 0
  chatbot_forum_search_function_reranking_strategy:
    client: false
    default: "none"
    type: enum
    choices:
      - "none"
      - "group_promotion"
      - "tag_promotion"
      - "both"
  chatbot_forum_search_function_reranking_groups:
    client: false
    type: group_list
    list_type: compact
    default: ""
    allow_any: false
    refresh: true
  chatbot_forum_search_function_reranking_tags:
    client: false
    type: tag_list
    list_type: compact
    default: ""
    allow_any: false
    refresh: true
  chatbot_forum_search_function_include_topic_titles:
    client: false
    default: false
  chatbot_forum_search_function_results_content_type:
    client: false
    default: "post"
    type: enum
    choices:
      - "post"
      - "topic"
  chatbot_forum_search_function_results_topic_max_posts_count_strategy:
    client: false
    default: "just_enough"
    type: "enum"
    choices:
      - "all"
      - "just_enough"
      - "stretch_if_required"
      - "exact"
  chatbot_forum_search_function_results_topic_max_posts_count:
    client: false
    default: 3
    min: 1
    max: 20
  chatbot_tool_choice_first_iteration:
    client: false
    type: enum
    default: not_forced
    choices:
      - not_forced
      - force_a_function
      - force_local_forum_search
  chatbot_forum_search_function_hybrid_search:
    client: false
    default: false
  chatbot_url_integrity_check:
    client: false
    default: false
  chatbot_locations_plugin_support:
    client: false
    default: false
  chatbot_escalate_to_staff_function:
    client: false
    default: false
  chatbot_escalate_to_staff_groups:
    client: false
    type: group_list
    list_type: compact
    default: ""
    allow_any: false
    refresh: true
  chatbot_escalate_to_staff_max_history:
    client: false
    default: 10
  chatbot_escalate_to_staff_cool_down_period:
    client: false
    default: 1
    min: 0
    max: 7
  chatbot_user_fields_collection:
    client: false
    default: false
  chatbot_news_api_token:
    client: false
    default: ''
  chatbot_news_api_call_token_cost:
    client: false
    default: 10000
  chatbot_firecrawl_api_token:
    client: false
    default: ''
  chatbot_firecrawl_api_call_token_cost:
    client: false
    default: 10000
  chatbot_jina_api_token:
    client: false
    default: ''
  chatbot_jina_api_token_cost_multiplier:
    client: false
    default: 10000
  chatbot_function_response_char_limit:
    client: false
    default: 350000
  chatbot_serp_api_key:
    client: false
    default: ''
  chatbot_serp_api_call_token_cost:
    client: false
    default: 10000
  chatbot_marketstack_key:
    client: false
    default: ''
  chatbot_marketstack_api_call_token_cost:
    client: false
    default: 10000
  chatbot_enable_verbose_console_logging:
    client: false
    default: false
  chatbot_enable_verbose_rails_logging:
    client: false
    type: enum
    default: 'off'
    choices:
      - 'off'
      - 'api_calls_only'
      - 'all'
  chatbot_verbose_rails_logging_destination_level:
    client: false
    type: enum
    default: 'info'
    choices:
      - 'info'
      - 'warn'
