plugins:
  chatbot_enabled:
    default: true
    client: true
  chatbot_permitted_in_private_messages:
    default: true
    client: true
  chatbot_include_inner_thoughts_in_private_messages:
    default: false
    client: false
  chatbot_permitted_in_chat:
    default: true
    client: true
  chatbot_can_trigger_from_whisper:
    default: false
    client: false
  chatbot_quick_access_talk_button:
    default: true
    client: true
  chatbot_quick_access_bot_user_icon: 
      client: true
      default: robot
  chatbot_quick_access_talk_in_private_message:
    default: false
    client: true
  chatbot_permitted_all_categories:
    default: true
    client: false
  chatbot_permitted_categories:
    client: false
    default: ''
    type: category_list
    list_type: "compact"
  chatbot_quota_high_trust:
    default: 100
    client: false
  chatbot_quota_medium_trust:
    default: 50
    client: false
  chatbot_quota_low_trust:
    default: 10
    client: false
  chatbot_high_trust_groups:
    client: false
    default: ''
    type: group_list
    list_type: compact
  chatbot_medium_trust_groups:
    client: false
    default: ''
    type: group_list
    list_type: compact
  chatbot_low_trust_groups:
    client: false
    default: ''
    type: group_list
    list_type: compact
  chatbot_max_look_behind:
    default: 5
    max: 160
    min: 1
    client: false
  chatbot_include_whispers_in_post_history:
    default: false
    client: false
  chatbot_strip_quotes:
    default: true
    client: false
  chatbot_open_ai_model:
    client: false
    type: enum
    default: gpt-3.5-turbo
    choices:
      - gpt-3.5-turbo
      - gpt-3.5-turbo-16k
      - gpt-4
      - gpt-4-32k
  chatbot_reply_job_time_delay:
    client: false
    default: 1
    min: 0
    max: 3
  chatbot_open_ai_token:
    client: false
    default: ''
  chatbot_bot_type:
    default: 'normal'
    client: false
    type: enum
    choices:
      - normal
      - agent
  chatbot_open_ai_model_custom:
    default: false
    client: false
  chatbot_open_ai_model_custom_name:
    default: ''
    client: false
  chatbot_open_ai_model_custom_url:
    client: false
    default: ''
  chatbot_open_ai_model_custom_api_type:
    client: false
    default: ''
  chatbot_open_ai_model_custom_api_version:
    client: false
    default: '2023-05-15'
  chatbot_request_temperature:
    client: false
    default: 100
    min: 0
    max: 100
  chatbot_request_top_p:
    client: false
    default: 100
    min: 0
    max: 100
  chatbot_request_frequency_penalty:
    client: false
    default: 0
    min: -200
    max: 200
  chatbot_request_presence_penalty:
    client: false
    default: 0
    min: -200
    max: 200
  chatbot_max_response_tokens:
    client: false
    default: 200
  chatbot_bot_user:
    client: true
    type: username
    default: Chatbot
  chatbot_embeddings_benchmark_user_trust_level: 
    client: false
    default: 1
    min: 0
    max: 4
  chatbot_enable_verbose_console_response_progress_logging:
    client: false
    default: false
  chatbot_news_api_token:
    client: false
    default: ''
  chatbot_serp_api_key:
    client: false
    default: ''
  chatbot_marketstack_key:
    client: false
    default: ''
